body{
    background-image: url('./assets/images/camera-coffee-colorful-1391374.jpg');
    /* background-position:center ; */
    background-size: cover;
}


form{
    text-align: left;
    color:white;
    font-size: 20px;
    /* max-width:850px; */
    background-color:hsl(209, 45%, 55%);
    border: solid;
    border-color:hsl(30, 33%, 99%);
    opacity: .9;
    padding:20px;
    margin-top:35px;
   
}


.headerOne{
    color:white;
}
.italic{
    font-style: italic;
}

.banner-jumbo{
    font-style: italic;
    font-size-adjust: inherit;
    color:white;

}
.error-alert{
    padding:30px;
    background-color: white;
    color:red;
}