#fullCard{
    background-color:skyblue;
    margin: 0px;
    position: absolute;
    width: 500px;
    margin-left: 0px;
    opacity: 1;
}
.profilepic{
    max-width: 350px;
    max-height: 350px;
    position: relative;
    border-radius: 5px;
}
img{
    text-align: center;
}
.titleCard{
    font-weight: bold;
    color:green;
}